@model ShopProductViewModel
<p id="phone">Model-RealMe,Display-1420,Resolution-1080P,MainCamera-5P,Battery-4300,Charging-50</p>
<script>
    var allDescription=[];
    var PhoneData=$("#phone").text();
    allDescription=PhoneData.split(",");
    console.log(allDescription[0]);
    console.log(allDescription[0].split("-")[0])
</script>