<div class="container-fluid w-100 h-100 position-fixed top-0 z-3 bg-light">
    <div class="row d-flex align-items-center h-100">
        <div class="col-7 mx-auto shadow p-5 d-flex flex-column justify-content-center align-items-center">
            <h4 class="fw-bold">Your Order is Successfully Registered</h4>
            <i class="fa-regular fa-circle-check text-success display-5 py-4"></i>
            
            <span class="fw-bold">We will send you an Order Confirmation message.</span>
            <div class="d-flex justify-content-center align-items-center my-2">
                <i class="fa-brands fa-shopify text-primary"></i>
                <p class="m-0 p-0 px-3 ">Thanks For Your Purchase!</p>
                <i class="fa-brands fa-shopify text-primary"></i>
            </div>
            <button type="button" class="btn btn-primary">
                <a href="/home/index" class="text-decoration-none text-light"><i class="fa-solid fa-circle-left"></i> Back To Home</a>
            </button>
        </div>
    </div>
</div>