@model BrandViewModels
<body style="background-color:lightblue">
    @if (TempData["Info"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Info"]
        </div>
    }
    <h3>Entry Brand</h3>
    <form action="/Brand/Edit" method="post">
        <input type="hidden" value="@Model.Id" name="Id" />


        <div class="mb-3">
            <label class="form-label">Type Name</label>
            <input type="text" class="form-control" name="Name" value="@Model.Name">
        </div>




        <input type="submit" class="btn btn_primary" value="Entry" />
        <input type="reset" class="btn btn_primary" value="Cancel" />
    </form>
</body>
