@model ImageViewModel
<body style="background-color:lightblue">
    @if (TempData["Info"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Info"]
        </div>
    }
    <h3>Entry Image</h3>
    <div class="col-12 m-0 p-0">
        <h4 class="col-lg-7 col-md-6 col-10 mx-auto text-center text-light py-3 formHeader m-0 p-0 rounded-top AdminNav">Entry Image</h4>
    </div>
    <form action="/Image/Entry" method="post" class="col-lg-7 col-md-6 col-10 mx-auto shadow-sm p-3 border border-2 border-secondary rounded-bottom">

        <div class="row">
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">FrontImageUrl*</label>
                <input type="file" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="FrontImageUrl">
                <span asp-validation-for="FrontImageUrl" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">BackImageUrl*</label>
                <input type="file" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="BackImageUrl">
                <span asp-validation-for="BackImageUrl" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">RightSideImageUrl*</label>
                <input type="file" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="RightSideImageUrl">
                <span asp-validation-for="RightSideImageUrl" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">LeftSideImageUrl*</label>
                <input type="file" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="LeftSideImageUrl">
                <span asp-validation-for="LeftSideImageUrl" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">ModelName*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="ImageName">
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Filetype*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="Filetype">
                <span asp-validation-for="Filetype" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Filesize*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="Filesize">
                <span asp-validation-for="Filesize" class="text-danger"></span>
            </div>
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-warning col-5 fw-bold" value="Entry">Entry</button>
                <button type="reset" class="btn btn-secondary col-5  fw-bold" value="Cancel">Cancel</button>
            </div>
        </div>

    </form>
</body>
