@model PaymentTypeViewModel
@{
    ViewData["Title"] = "Payment Type Edit";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Edit Payment Type</h3>
    <form action="/paymenttype/update" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="mb-3">
            <label class="form-label">PaymentType</label>
            <input type="text" class="form-control" name="PaymentType" value="@Model.PaymentType" placeholder="PLease Fill the Field!">

        </div>
        

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Terms And Conditions</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Update">
        <input type="reset" class="btn btn-secondary" value="Cancel">
    </form>
</body>