@model ShopViewModel
@{
    ViewData["Title"] = "Shop Entry";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Entry Shop</h3>

    <div class="col-12 m-0 p-0">
        <h4 class="col-lg-7 col-md-6 col-10 mx-auto text-center text-light py-3 formHeader m-0 p-0 rounded-top AdminNav">Entry Shop</h4>
    </div>
    <form action="/shop/entry" method="post" class="col-lg-7 col-md-6 col-10 mx-auto shadow-sm p-3 border border-2 border-secondary rounded-bottom">

        <div class="row">
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Name*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Status*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="Status">
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold fs-5">Address*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-warning col-5 fw-bold" value="Entry">Entry</button>
                <button type="reset" class="btn btn-secondary col-5 fw-bold" value="Cancel">Cancel</button>
            </div>
        </div>

    </form>
</body>