@model UserViewModel
@{
    ViewData["Title"] = "User Entry";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Entry User</h3>

    <div class="col-12 m-0 p-0">
        <h4 class="col-lg-7 col-md-6 col-10 mx-auto text-center text-light py-3 formHeader m-0 p-0 rounded-top AdminNav">Entry User</h4>
    </div>
    <form action="/user/entry" method="post"  class="col-lg-7 col-md-6 col-10 mx-auto shadow-sm p-3 border border-2 border-secondary rounded-bottom">

        <div class="row">
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold">Name*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="Name">
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold">PhoneNo*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="PhoneNo">
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold">Email*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="Email">
            </div>
            <div class="col-12 mb-3 d-flex flex-column">
                <label class="labelFontSize fw-bold">Address*</label>
                <input type="text" class="border-0 border-bottom border-primary bg-transparent search-Bar" name="Address">
            </div>
            <div class="col-12 mb-2">
                <button type="submit" class="btn btn-warning col-5" value="Entry">Entry</button>
                <button type="reset" class="btn btn-secondary col-5" value="Cancel">Cancel</button>
            </div>
        </div>
    </form>
</body>