<h1>Product Detail Report</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-warning">
        <span>@TempData["info"]</span>
    </div>
}
<form action="/product/productdetailreport" method="post">
    
    <div class="mb-3">
        <label class="form-label">Type Name</label>
        <select name="TypeId" class="form-control">
            @foreach (var type in ViewBag.Type)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>

       
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Show</button>
        </div>
    </div>
</form>