<div class="row">
    <div class="col-6">
        <h3>Create</h3>
        <img class="w-100 h-75" src="https://d3an9kf42ylj3p.cloudfront.net/uploads/2023/10/kf_typesofdbms_oct23.png" />
    </div>
    <div class="col-6">
        <h3>Retrieve</h3>
        <img class="w-100 h-75" src="~/Images/RetrieveData.png"/>
    </div>
    <div class="col-6">
        <h3>Update</h3>
        <img class="w-100 h-50" src="~/Images/UpdateData.jpg" />
    </div>
    <div class="col-6">
        <h3>Delete</h3>
        <img class="w-100 h-50" src="~/Images/DeleteData.jpg" />
    </div>
</div>
