<form action="/home/easypayment" method="post">
    <div class="container mt-5">
        <h3 class="text-center mb-3">Online Payment</h3>

        <div class="container text-center">
            <div class="row d-flex flex-lg-row flex-md-row flex-col">
                <div class="col-12 col-lg-4 col-md-4  border border-dark rounded">
                    <img src="/Images/KBZPay.jpg" class="m-3 " style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>09797979797</span>
                </div>
                <div class="col-12 col-lg-4 col-md-4   border border-dark rounded">
                    <img src="/Images/WavePay.jpg" class="m-3" style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>09797979797</span>
                </div>
                <div class="col-12 col-lg-4 col-md-4   border border-dark rounded">
                    <img src="/Images/AYAPay.jpg" class="m-3" style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>09797979797</span>
                </div>
            </div>
        </div>


        <div class="container text-center">
            <div class="row d-flex flex-lg-row flex-md-row flex-col">
                <div class="col-12 col-lg-4 col-md-4  border border-dark rounded">
                    <img src="/Images/UABPay.jpg" class="m-3 " style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>09797979797</span>
                </div>
                <div class="col-12 col-lg-4 col-md-4   border border-dark rounded">
                    <img src="/Images/CBPay.jpg" class="m-3" style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>09797979797</span>
                </div>
                <div class="col-12 col-lg-4 col-md-4   border border-dark rounded">
                    <img src="/Images/VisaPay.jpg" class="m-3" style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>001 002 003 004</span>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row d-flex flex-lg-row flex-md-row flex-col">
                <div class="col-12 col-lg-4 col-md-4  border border-dark rounded">
                    <img src="/Images/MasterPay.jpg" class="m-3 " style="width: 150px; height: 150px;" alt="..."><br>
                    <span>AI Mobile</span><br><span>001 004 005 006</span>
                </div>
            </div>


        </div>
</form>