<form action="/home/facedelivery" method="post">
    <div class="container mt-5">
        <h2 class="text-center mb-3">Fast Delivery (2-3 Days)</h2>
        <div class="col-12 col-lg-12 col-md-12 ">
            ရန်ကုန်မြို့တွင်း Customer တွေအနေနဲ့ Order တင်ပြီး (၂) ရက်မှ (၃) ရက်အတွင်းကြိုတင်ငွေပေးချေစနစ်ဖြင့် အိမ်အရောက်ပို့ဆောင်ပေးပါတယ်။
            <br>
            <br>
            နယ်မှ မှာယူတဲ့ Customer တွေကိုတော့ Order တင် ကြိုတင်ငွေပေးချေပြီး နောက်(၁)ရက်မှာ သက်ဆိုင်ရာကားဂိတ် (သို့) သက်ဆိုင်ရာ Delivery Service သို့ ပို့ဆောင်ပေးပါတယ်။
        </div>
    </div>


    <div class="container mt-5">
        <h2 class="text-center mb-3 ">ရန်ကုန်မြို့တွင်း Delivery ပေးပို့သော သတ်မှတ် ဧရိယာများ</h2>
        <div class="col-12 col-lg-12 col-md-12 text-center mt-5 ">
            လှိင်မြိုနယ်<br><hr>
            ကမာရွတ်မြိုနယ်<br><hr>
            စမ်းချောင်းမြိုနယ်<br><hr>
            လမ်းမတော်မြိုနယ်<br><hr>
            ကြည့်မြင်တိုင်မြိုနယ်<br><hr>
            တောင်ဥက္ကလာပမြိုနယ်<br><hr>
            မြောက်ဥက္ကလာပမြိုနယ်<br><hr>
            တောင်ဒဂုံမြိုနယ်<br><hr>
            မြောက်ဒဂုံမြိုနယ်<hr>
        </div>
    </div>
</form>