<form action="/home/freeshipping" method="post">
    <div class="container mt-5">
        <h3 class="text-center mb-3">Delivery (မြို့အားလုံးအတွက်)</h3>
        <div class="col-12 col-lg-12 col-md-12 ms-6">
            <div class="container col-12">
                <span>(၃) သောင်းကျပ်နှင့်အထက် မှာယူတဲ့ Order များအတွက်</span>
                <ul>
                    <li>
                        ရန်ကုန်နှင့်မန္တလေးမြို့တွင်းဆိုလျှင် သတ်မှတ်ဧရိယာအတွင်း အိမ်ထိအရောက်
                    </li>
                    <br>
                    <li>
                        အခြားမြို့/နယ် customer များအတွက် ကားဂိတ် (သို့) သက်ဆိုင်ရာ Delivery Service ဆီသို့ Delivery Free ဖြင့် ပို့ဆောင်ပေးပါတယ်။
                    </li>
                </ul>
            </div>

            <div class="container col-12">
                <span>(၃) သောင်းကျပ်အောက်မှာယူသော Order များအတွက်</span>
                <ul>
                    <li>
                        ရန်ကုန်နှင့်မန္တလေးမြို့တွင်းဆို အိမ်အရောက် Delivery ခ (၁,၅၀၀) ကျပ်ဖြင့်
                    </li>
                    <br>
                    <li>
                        အခြားမြို့/နယ် customer များအတွက် ကားဂိတ် (သို့) သက်ဆိုင်ရာ Delivery Service သို့ Delivery ခ (၁,၅၀၀) ကျပ် ဖြင့် ပို့ဆောင်ပေးပါတယ်
                    </li>
                    <br>
                    <li>
                        ကားဂိတ် (သို့) Delivery Service ဖြင့် ပို့ဆောင်ရမယ့် Order များအတွက် ကားဂိတ် တန်ဆာခ (သို့) သက်ဆိုင်ရာ Delivery Service Charges ကို ပစ္စည်းရောက်တဲ့အခါမှသာ Customer ဘက်မှ ရှင်းပေးရမှာဖြစ်ပါတယ်။
                    </li>
                    <br>
                    <li>
                        မှာယူထားသည့် ပစ္စည်းအရောင်မှန်မမှန်၊ Damage ပါမပါ သေချာစွာစစ်ဆေးပေးပါ (မိုဘိုင်းဖုန်းများကို Damage ရှိမရှိ သေချာစွာစစ်ဆေးပြီးမှသာ Activate ပြုလုပ်ပေးပါရန်)
                    </li>
                </ul>
            </div>

            <div class="container col-12">
                <span>မှတ်ချက်။   ။</span>

                <div class="col-12">
                    Activate ပြုလုပ်ပြီးမှ Factory Error ပါကြောင်းသိရှိခဲ့လျှင် ဝယ်ယူစဉ်ကအတိုင်း အပွန်းအစင်းအနာအဆာ ကင်းစင်ပြီး ဗူးပါကင် ပစ္စည်းအစုံအလင်ဖြင့် ဝယ်ယူပြီး (၃) ရက်အတွင်း ဆိုင်သို့ ပြန်လည်ပေးပို့အပ်နှံပါရန်။
                    <br>
                    ပစ္စည်းပြန်လည်ပေးပို့ရန်အတွက် အကြောင်းအရာအပြည့်အစုံကို Return Policy တွင် ဖတ်ပေးပါရန် ။
                </div>
            </div>
        </div>
    </div>
</form>