<form action="/home/returnpolicy" method="post">
    <div class="container mt-5">
        <h3 class="text-center mb-3">(3) Days Return Policy</h3>
        <div class="container col-12 m-5">
            <ul>
                <li>
                    ဝယ်ယူထားသည့် ပစ္စည်းတွင် Factory Error ပါလာလျှင်ဖြစ်စေ၊
                </li>
                <br>
                <li>
                    ဝယ်ယူထားသည့်ပစ္စည်းအား မလိုတော့သောကြောင့် Refund ပြန်ယူချင်သည်ဖြစ်စေ
                </li>
            </ul><br>
            <span>
                ပစ္စည်း ဝယ်စဉ်ကအတိုင်း အပွန်းအစင်းအနာအဆာ ကင်းစင်ပြီး ဗူးပါကင် ပစ္စည်းအစုံအလင်ဖြင့်   ဝယ်ယူပြီး (၃) ရက်အတွင်း ဆိုင်သို့ပြန်လည် အပ်နှံရန် လိုအပ်ပါသည်…
                <br><br>
                မှတ်ချက်။ ပစ္စည်းရောက်သည်နှင့်တစ်ပြိုင်နက် ကိုယ်မှာထားသည့် ပစ္စည်းဟုတ်မဟုတ်ကို Delivery ရှေ့တွင် တစ်ခါတည်း စစ်ဆေးပြီး လက်ခံရန်။
            </span>
        </div>
    </div>
</form>