@model IList<TypeViewModel>
@{
    ViewData["Title"] = "Shop Product Entry";
}

<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3 class="mx-auto">Entry Shop Product</h3>
    <form action="/shopproduct/EntryShopProduct" method="get">
        <div class="mb-3">
            <label class="form-label">Type</label>
            <select name="id" class="form-select">
                @foreach (var type in Model)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>

        </div>
        <input type="submit" class="btn btn-primary" value="Next >>">
        
    </form>
</body> 



