
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AIMobile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AIMobile.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c9d3a4741.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-Bg position-sticky top-0 z-2">
        <div class="container-fluid">
            <a class="navbar-brand text-light me-5" href="/home/index">
                <p class="m-0 p-0">AI Shopping</p>
            </a>
            <div class="navbar-brand d-lg-none d-md-none d-inline Pointer"
                 data-bs-toggle="offcanvas"
                 data-bs-target="#offcanvasRight"
                 aria-controls="offcanvasRight">
                <i class="fa-solid fa-house-chimney-user text-light"></i>
            </div>
            <div class="d-flex flex-column col-md-6 col-12 position-relative h-50">
                <div class="col-12 d-flex mx-auto">
                    <input type="text"
                           class="search-Bar p-2 col-11"
                           placeholder="Search Your Product" id="UserSearch" />
                    <button class="border-none col-1 bg-warning rounded-end search-Button py-2 px-3"
                            type="button"
                            id="button-addon2">
                        <i class="fa-solid fa-magnifying-glass" id="searchButton"></i>
                    </button>
                </div>
                <div id="ResultContainer" class="col-11 bg-light overflow-y-scroll"></div>
            </div>
            <div class="navbar-brand d-lg-none d-md-inline d-none">
                <i class="fa-solid fa-house-chimney-user text-light Pointer"
                   data-bs-toggle="offcanvas"
                   data-bs-target="#offcanvasRight"
                   aria-controls="offcanvasRight"></i>
            </div>
            <div class="d-lg-inline d-md-none d-none">
                <ul class="navbar-nav ms-auto z-4">      
                    <li class="nav-item d-none d-sm-inline-block">
                        <partial name="_loginPartial" />
                    </li>

                </ul>
            </div>
        </div>
        <div class="Delivery d-lg-none d-md-none d-block px-3 mt-1">
            <i class="fa-solid fa-truck"></i> Enable Delivery Service
        </div>
    </nav>
    <div class="offcanvas offcanvas-end"
         tabindex="-1"
         id="offcanvasRight"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header nav-Bg">
            <h5 class="offcanvas-title text-light" id="offcanvasRightLabel">
                AI Shopping
            </h5>
            <button type="button"
                    class="btn btn-transparent"
                    data-bs-dismiss="offcanvas">
                <i class="fa-solid fa-xmark text-light fs-5"></i>
            </button>
        </div>
        <div class="offcanvas-body product-Bar">
            <ul class="navbar-nav ms-auto z-4">
                <partial name="_loginPartial" />
            </ul>
        </div>
    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @*
    For Delivery *@


    <div class="container-fluid pageFooter mt-3 border-top border-secondary">
        <div class="row border-bottom border-secondary p-2">
            <div class="col-lg-3 col-6  mb-lg-0 mb-2 Cursor-Pointer" >
                <div id="freeShippingDiv"  class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-truck display-6 me-2" ></i>
                    <div>
                        <div class="fw-bold fs-6">Free Shipping</div>
                        <div class="fs-6 fw-normal text-secondary">For Every State</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-6 mb-lg-0 mb-2 Cursor-Pointer">
                <div id="ReturnPolicyDiv" class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-reply display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">3 Days Return Policy</div>
                        <div class="fs-6 fw-normal text-secondary">
                            Return within 3 Days
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 Cursor-Pointer">
                <div id="EasyPaymentDiv" class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-regular fa-credit-card display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">Easy Payment</div>
                        <div class="fs-6 fw-normal text-secondary">
                            Pay with various payment methods
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 Cursor-Pointer">
                <div id="FaceDeliveryDiv" class="w-100 h-100 d-flex align-items-center justify-content-center bg-light py-2 px-lg-0 px-2">
                    <i class="fa-solid fa-truck-fast display-6 me-2"></i>
                    <div>
                        <div class="fw-bold fs-6">Fase Delivery</div>
                        <div class="fs-6 fw-normal text-secondary">
                            2 Days deliver in YGN & MDY
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-4 col-6">
                <h6 class="text-center fw-bold">GET TO KNOW US</h6>
                <div class="d-flex flex-column justify-content-start align-items-center">
                    <a href="#" class="text-decoration-none">FaQs</a>
                    <a href="#" class="text-decoration-none">AboutUs</a>
                    <a href="#" class="text-decoration-none">Contact Us</a>
                    <a href="#" class="text-decoration-none">Privacy Policy</a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <h6 class="fw-bold text-center">FOLLOW US ON</h6>
                <div class="d-flex justify-content-center py-2">
                    <a href="#" class="text-decoration-none px-2">
                        <i class="fa-brands fa-facebook fs-4"></i>
                    </a>
                    <a href="#" class="text-decoration-none px-2">
                        <i class="fa-brands fa-instagram fs-4"></i>
                    </a>
                    <a href="#" class="text-decoration-none px-2">
                        <i class="fa-brands fa-telegram fs-4"></i>
                    </a>
                    <a href="#" class="text-decoration-none px-2">
                        <i class="fa-brands fa-x-twitter fs-4"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-11 mx-auto mt-lg-0 mt-4">
                <h6 class="fw-bold">SIGN UP WITH EMAIL</h6>
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Please Enter Your Email" />
                    <button class="btn btn-primary" type="button">SignUp</button>
                </div>
                <p class="fontFamilies">Shop With Our AI Online Shopping!</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5 col-md-7 col-10 mx-auto ">
                <div class="text-center">Available Payment Methods:</div>
                <div class="row">
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/CBPay.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/KBZPay.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/AYAPay.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/UABPay.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/VisaPay.jpg" class="w-100" alt="" />
                    </div>
                    <div class="col-2 p-lg-4 p-md-4 p-3">
                        <img src="/images/MasterPay.jpg" class="w-100" alt="" />
                    </div>
                </div>

            </div>
        </div>
        <div class="nav-Bg row text-center">
            <p class="my-auto py-3 text-secondary">
                &copy;Copyright 2024 <span class="text-light">AI Shop.</span> All
                Rights Reserved
            </p>
        </div>

    </footer>
    
    <div class="offcanvas offcanvas-start bg-transparent border-0"
         id="offcanvasExample"
         aria-labelledby="offcanvasExampleLabel">
        <div class="w-50 ChildOffcanvas">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
                    Products
                </h5>
                <button type="button"
                        class="btn btn-transparent"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close">
                    <i class="text-light fs-4 fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="offcanvas-body overflow-visible">
                <div class="w-100 dropend">
                    <button type="button"
                            class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        All Products <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Smart Phones <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Laptops <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Tablets <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
                <div class="w-100 dropend">
                    <button class="btn btn-transparent text-light w-100 mb-2 d-flex justify-content-between align-items-center"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Other Accessories <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">RealMe</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/627302b2f5.js"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#freeShippingDiv').click(function () {
                // Redirect to a specific page or perform any other action
                window.location.href = '/home/freeshipping'; // Replace with the desired URL
            });
        });

        $(document).ready(function () {
            $('#ReturnPolicyDiv').click(function () {
                // Redirect to a specific page or perform any other action
                window.location.href = '/home/returnpolicy'; // Replace with the desired URL
            });
        });

        $(document).ready(function () {
            $('#EasyPaymentDiv').click(function () {
                // Redirect to a specific page or perform any other action
                window.location.href = '/home/easypayment'; // Replace with the desired URL
            });
        });

        $(document).ready(function () {
            $('#FaceDeliveryDiv').click(function () {
                // Redirect to a specific page or perform any other action
                window.location.href = '/home/facedelivery'; // Replace with the desired URL
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        
        var allProduct = []; // Declared in the global scope

        window.onload = function () {
            // Your code here
            var url = "/home/SearchProduct";
            var data = "search";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (response) {
                    response.forEach(function (product) {
                        allProduct.push(product);
                    });

                   
                },
                failure: function (error) {
                    console.log(error);
                }
            });
        };
        $(document).ready(function () {
            $("#UserSearch").on('keyup', function () {
                $("#ResultContainer").html("");
                let searchValue = $(this).val().toLowerCase();
                if(searchValue==""){
                    return;
                }
                let filteredProducts = allProduct.filter(product => {
                    return product.name.toLowerCase().includes(searchValue); // Corrected to product.Name
                });
                
                for (let i = 0; i < filteredProducts.length;i++){
                  
                    let productName = filteredProducts[i].name;
                    let ImageUrl = filteredProducts[i].frontImageUrl;
                    let NewDiv = $('<div>');
                    NewDiv.addClass("ChildProduct");
                    let newLink = $('<a>', {
                        href: '/MainPage/ShowProduct?id='+filteredProducts[i].productId,
                        'class':'text-decoration-none d-flex justify-content-between align-items-center'
                    });
                    NewDiv.append(newLink);
                    let NewSpan = $('<span>');
                    NewSpan.html(productName);
                    let ImageTag = $('<img>');
                    ImageTag.attr({
                        src: ImageUrl,
                        
                        width: '50',
                        height: '50'
                    });
                    newLink.append(NewSpan,ImageTag)
                    $("#ResultContainer").append(NewDiv)
                } 
            });
        });
        
    </script>
</body>
</html>

